body {
    padding: 50px;

    .playground {
        display: flex;

        .die-example {
            padding: 100px;

            input,
            button {
                margin-top: 100px;
            }
        }
    }
}
